// Fuentes
$fuente-principal:  'Roboto', sans-serif;

// Tamaño de Media Queries
// $telefono: 48rem;
// $tablet: 76rem;
// $desktop: 102rem;
// $xl_desktop: 120rem;
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;
$xl_desktop: 1200px;

// Colores
$color-principal: #e1eef4 ; 
$azul-claro: #54c5f8;
$azul-oscuro: #01579b;

$color-barra: #08273f;
// $color-nav: #1d3649;
$color-nav: #111926;

$color-line: #bec1bf;

$negro: #1a1b15;
$blanco: #FFFFFF;
$rojo-fuerte: #ff0005;
$rojo-claro: #faeded;

$boton-azul: #31b9f6;
$boton-verde: #31d880;

// Fuentes
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900
